* {
    margin: 0;
    padding: 0;
  }
  
  .activities-page__wrapper {
      position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
   
  }
  .activities__section {
    position: relative;
    margin: 70px 0 0 0;
    padding: 20px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
  }
  .activities__holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
  .activities__list{
      margin: 50px 0 0 0;
      width: 80%;
      display: flex;
      /* justify-content: center; */
      flex-wrap: wrap;
  }
  .activity{
   
  }
  .activity > h3{
      padding: 10px 10px 0 10px;
      text-align: center;
      font-size: 24px;
  }
  
  .activity > p {
    margin: 20px;
    text-align: center;
  }
  .image__wrapper{
  
  }
  img{
      width: 100%;
      height: 100%;
  }
  .contact__footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  @media (max-width: 450px) {
    .activities__list{
        margin: 50px 0 0 0;
        width: 95%;
        
    }
  }