* {
  margin: 0;
  padding: 0;
}

.rates-page__wrapper {
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
 
}
.rates__section {
  position: relative;
  margin: 70px 0 0 0;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(255, 255, 255);
  /* height: 100vh; */
}
.rates__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rates__holder > p {
    text-align: center;
}

.rates__header{
    text-align: center;
}
.seasons__wrapper{
    display: flex;
    width:60%;
    justify-content: center;  
}
.season{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.rates{
    display: flex;
    flex-direction: column;
    
}
.rate__display{
    display: flex;
    justify-content: space-between;
}
.rate__display > p {
    margin: 10px 10px 0 10px;
}
.rate__display >p:nth-child(2) {
    margin:10px 0 0 0;
}
.house__display {
    display: flex;
    justify-content: center;
}
.availability__section{
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.availability__section > i{
    letter-spacing: 1px;
    padding: 20px 50px;
    text-align: center;
    margin: 10px 0 20px 0;
}
.availability__section > a{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background-color: #216796;
    color: #cbdeec;
    transition: ease-in-out 0.2s;
    letter-spacing: 2px;
    margin: 30px 0 50px 0;
    
}
.availability__section > a:hover {
    background-color: #337D9E;
    color: #e3dcc9;
    text-decoration: none;
    cursor: pointer;
}
.rates__footer{
    position: relative;
    
    width: 100%;
}

@media (max-width: 1150px) {
  .rates__section {
    position: relative;
    margin: 70px 0 0 0;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .rates__section  {
    position: relative;
    margin: 70px 0 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 850px){
    .seasons__wrapper{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;  
    }
    .season{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .season > h5{
        margin: 20px 0 10px 0
    }
    .rates{
        margin: 5px 0 10px 0 
    }
    .house__display{
        margin: 0 0 20px 0;

    }

}
@media (max-width: 768px) {
    .rates__section {
      position: relative;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }}
@media(max-width: 420px){
    .rates__holder > p {
        font-size: 14px;
    }
    .availability__section > i{
        font-size: 14px;
    }
    .availability__section > a{
       font-size: 14px;
        width: 230px;
        height: 50px;
       
        
    }
}
